#contenitoreGenerale {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #048004;
  padding: 20px 50px;
}

#mazzo-wrapper {
  position: relative;
  width: 100%;
  height: calc(100%/3);
  display: flex;
  justify-content: center;
}

.mazzo {
  position: absolute;
  box-sizing: border-box;
  width: 170px;
  height: 220px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.mazzo:nth-child(1) {
  top: 0px;
  left: 0px;
  z-index: 12;
  box-shadow:2px 4px 4px rgba(0,0,0,0.05);
}

.mazzo:nth-child(2) {
  top: 1.5px;
  left: 1.5px;
  z-index: 11;
  box-shadow: 3px 5px 6px rgba(0,0,0,0.08);
}

.mazzo:nth-child(3) {
  top: 3px;
  left: 3px;
  z-index: 10;
  box-shadow: 3px 6px 8px rgba(0,0,0,0.10);
}

.mazzo:nth-child(4) {
  top: 4.5px;
  left: 4.5px;
  z-index: 9;
  box-shadow: 4px 7px 10px rgba(0,0,0,0.12);
}

.mazzo:nth-child(5) {
  top: 6px;
  left: 6px;
  z-index: 8;
  box-shadow: 4px 8px 12px rgba(0,0,0,0.14);
  
}

.mazzo:nth-child(6) {
  top: 7.5px;
  left: 7.5px;
  z-index: 7;
  box-shadow: 5px 8px 14px rgba(0,0,0,0.16);
}

.mazzo:nth-child(7) {
  top: 9px;
  left: 9px;
  z-index: 6;
  box-shadow: 5px 9px 16px rgba(0,0,0,0.19);
  
}

.mazzo:nth-child(8) {
  top: 10.5px;
  left: 10.5px;
  z-index: 5;
  box-shadow: 5px 10px 18px rgba(0,0,0,0.21);
}

.mazzo:nth-child(9) {
  top: 12px;
  left: 12px;
  z-index: 4;
  box-shadow: 6px 10px 20px rgba(0,0,0,0.24);
}

.mazzo:nth-child(10) {
  top: 13.5px;
  left: 13.5px;
  z-index: 3;
  box-shadow: 6px 10px 23px rgba(0,0,0,0.27);
}

.mazzo:nth-child(11) {
  top: 15px;
  left: 15px;
  z-index: 2;
  box-shadow: 6px 10px 26px rgba(0,0,0,0.31);
}

.mazzo:nth-child(12) {
  top: 16.5px;
  left: 16.5px;
  z-index: 1;
  box-shadow: 6px 10px 30px rgba(0,0,0,0.35);
}
.mazzo:nth-child(13) {
  top: 18px;
  left: 18px;
  z-index: 0;
  box-shadow: 6px 10px 34px rgba(0,0,0,0.39);
}



.card-back {
  width: 170px;
  height: 230px;
}


.mazzo:first-child:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

#cont-vignetta{
  display: flex;
  align-items: center;
  justify-content: center;
}

#vignetta{
  background-color: white;
  border:2px solid black;
  border-radius: 15px;
  padding: 30px;

}

.contitoreCard {
  height: calc(100%/3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.immagine-carta {
  width: 170px;
  height: 220px;
}


.card {
  position: absolute;
  right: 80px;
  background-color: var(--bc);
  color: var(--clr);
  padding: 2rem 2.5rem;
  border-radius: 0.75rem;
  outline: 2px solid var(--bc);
  outline-offset: 4px;
  width: 170px;
  height: 220px;
  transition: 0.3s ese-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  line-height: 1.5;
}

.card-pc {
  --bc: #0F1B2D;
  --clr: #E0F7FA;
}

.card-utente {
  --bc: rgb(106, 181, 224);
  --clr: #1C1C1C;
}

.card-pc:hover {
  --bc: #a1c3ee;
}

.card-utente:hover {
  --bc: #C7D4DC;
}

.img {
  max-width: 100%;
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  outline: 2px solid var(--clr);
  outline-offset: 4px;
  fill: var(--clr);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 1rem;
  font-weight: 700;
}

.info {
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.7;
}

.country {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: .2rem;
}

.cardWinner {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-47%, -50%);
  width: 280px;
  height: 400px;
  z-index: 900;
}

.infoWinner {
  font-size: 1.6rem;
}

.headingWinner {
  font-size: 2rem;
}

.countryWinner {
  font-size: 1.2rem;
  margin-top: 7px;
}

.mano {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-3d {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px;
  min-width: 4em;
  min-height: 4em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
}

.button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 8px 16px;
  transform: translateY(0);
  color: #fff;
  background-image: linear-gradient(145deg, #6a11cb, #2575fc);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 0.3s, border-radius 0.3s, background 10s;
}

.button-3d:active .button-top {
  border-radius: 10px 10px 8px 8px / 8px;
  transform: translateY(2px);
  background-image: linear-gradient(145deg, #2575fc, #6a11cb);
}

.button-bottom {
  position: absolute;
  z-index: 1;
  bottom: 4px;
  left: 4px;
  border-radius: 20px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  background-image: linear-gradient(145deg, #2575fc, #6a11cb);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  transition: border-radius 0.2s, padding-top 0.2s;
}

.button-base {
  position: absolute;
  z-index: 0;
  top: 4px;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 2px 2px rgba(0, 0, 0, 0.25);
  transition: border-radius 0.2s, padding-top 0.2s;
}

.button-3d:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button-3d:active .button-base {
  border-radius: 10px 10px 8px 8px / 8px;
}
